<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--<title><%= htmlWebpackPlugin.options.title %></title>-->
</head>
<body>
<div id="app">
    <sidebar v-on:add-todo="addTodoTotal"></sidebar>
    <todo-list v-bind:data="todos"></todo-list>
</div>
</body>
</html>
